<div id="nav-box">
    <nav id="nav">
        <a href="/" style="position: absolute; left: 2%; top: 20px; height: 64px">
            <img src="/static/favicon.ico" alt="Coma">
        </a>
        <ul>
            <li><a href="/items">Items</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/upload">Upload</a></li>
        </ul>
    </nav>
</div>