body {
    background: radial-gradient(circle at center, #c8c5e1, #a79bb8, #6c468a);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

#image-box {
    font-size: 17px;
    background: radial-gradient(circle at center, #c79f98, #dbc6e2 50%, #c0bbd2 65%, #866e9f 95%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(69, 0, 54);
}

#image-box-search-container {
    margin-top: 20px;
}